<nav>
    <ul id="leftElements">
        <li><a routerLink="/">HOME</a></li>
        <li><a routerLink="/chat">CHATROOM</a></li>
        <li><a routerLink="/search">SEARCH</a></li>
    </ul>
    <div id="middleLogo"><a routerLink="/">MATCHA</a></div>
    <div id="rightElements">
        <div class="img" style="-webkit-mask: url('/icons/navHeart.png') center/contain" (mouseover)="overtest()"></div>
        <a routerLink="/account" class="img" style="-webkit-mask: url('/icons/navProfile.png') center/contain"></a>
    </div>
</nav>
