nav {
    background-color: var(--color-4);
}

#mobileDevice {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#desktopDevice {
    display: none;
}

.notificationNumber {
    position: absolute;
    top: 0;
    right: 0;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 0.8em;
    padding: 2px;
    margin-top: 5px;
    transform: translate(50%, -50%);
}

@media (min-width: 1024px) {
    #mobileDevice {
        display: none;
    }

    #desktopDevice {
        padding: 10px;
        color: var(--color-1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: var(--color-1);
    }

    .items {
        font-size: 2em;
        display: flex;
        gap: 15px;
    }

    .items a:hover {
        transition: transform 1s;
        transform: scale(1.1);
    }

    #middleLogo {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        font-size: 2.5em;
    }

    .notificationNumber {
        position: absolute;
        top: 0;
        right: 0;
        background: red;
        color: white;
        border-radius: 50%;
        font-size: 0.5em;
        padding: 2px;
        transform: translate(50%, -50%);
    }
}