nav {
    background-color: var(--color-4);
}

#mobileDevice {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

#desktopDevice {
    display: none;
}

@media (min-width: 1024px) {
    #mobileDevice {
        display: none;
    }

    #desktopDevice {
        padding: 10px;
        color: var(--color-1);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
        color: var(--color-1);
    }

    .items {
        display: flex;
        gap: 15px;
    }
}