<nav>
    <div id="mobileDevice">
        <a href="#"><mat-icon svgIcon="home"/></a>
        <a routerLink="/search"><mat-icon svgIcon="search"/></a>
        <a routerLink="/chat"><mat-icon svgIcon="chat"/></a>
        <a href="#"><mat-icon svgIcon="notification"/></a>
        <a routerLink="/account"><mat-icon svgIcon="profile"/></a>
        <a href="#" (click)="authService.logout()"><mat-icon svgIcon="logout"/></a>
    </div>
    <div id="desktopDevice">
        <div class="items">
            <a href="#">HOME</a>
            <a routerLink="/search">SEARCH</a>
            <a routerLink="/chat">CHATROOM</a>
        </div>
        <div>MATCHA</div>
        <div class="items">
            <a href="#"><mat-icon svgIcon="notification"/></a>
            <a routerLink="/account"><mat-icon svgIcon="profile"/></a>
            <a href="#" (click)="authService.logout()"><mat-icon svgIcon="logout"/></a>
        </div>
    </div>
</nav>

