<div id="main">
    <div id="pictureAndIcons">
        <img class="profilePic" [src]=card().profilePicturePath />
        <div class="profilePicIcons">
            <img class="overlayIcon giftIcon" src="/icons/gift.png">
            <img class="overlayIcon heartIcon" src="/icons/heart.png">
            <img class="overlayIcon" src="/icons/profile.png">
        </div>
    </div>

    <div id="profile">
        <div id="nameAndAge">
            {{card().firstname}} {{card().age}} years old, {{card().city}}
        </div>
        <div id="description">
            {{card().description}} <a [routerLink]="'/profile/'+ card().userId">SEE MORE</a>
        </div>
        <div id="details">
            <app-interest [interest]="card().getInterestFromIndex(0)"/>
            <app-interest [interest]="card().getInterestFromIndex(1)"/>
            <app-interest [interest]="card().getInterestFromIndex(2)"/>
            <app-interest [interest]="card().getInterestFromIndex(3)"/>
        </div>
    </div>
</div>