<div id="main">
    <div id="pictureAndIcons">
        <img class="profilePic" [src]=profile().profilePicturePath/>
        <div class="profilePicIcons">
            <img class="overlayIcon giftIcon" src="/icons/gift.png">
            <img class="overlayIcon heartIcon" (click)="likeUser()" src="/icons/heart.png">
            <a [routerLink]="['/profile/', profile().userId]" class="overlayIcon img" style="-webkit-mask: url('/icons/navProfile.png') center/contain"></a>
        </div>
    </div>

    <div id="profile">
        <div id="nameAndAge">
            {{profile().firstname}} {{profile().age}} years old, {{profile().city}}
        </div>
        <div id="description">
            {{profile().description}} <a [routerLink]="'/profile/'+ profile().userId">SEE MORE</a>
        </div>
        <div id="details">
            <app-interest *ngFor="let interest of this.profile().interests" [interest]="interest"/>
        </div>
    </div>
</div>