<div id="main" [routerLink]="['/profile/', profile().userId]">
    <div id="pictureAndIcons">
            <app-cardimage [profile]="profile()"/>
    </div>

    <div id="profile">
        <div id="nameAndAge">
            {{profile().firstname}} {{profile().age}} years old, {{profile().city}}
        </div>
        <div id="description">
            {{profile().description}}
        </div>
        <div class="details">
            <app-interest *ngFor="let interest of this.profile().interestsModels" [interest]="interest"/>
        </div>
    </div>
</div>