<footer>
    <div>
        <a routerLink="/">
            GitHUb
        </a>
    </div>
    <div id="footerCenter">
        © 2025 Matcha. Tous droits réservés.
    </div>
    <div id="footerRight">
        <div class="footerRightButton">
            <a routerLink="/">
                Conditions générales d'utilisation
            </a>
        </div>
        <div class="footerRightButton">
            <a routerLink="/">
                règlement
            </a>
        </div>
    </div>
</footer>
