footer {
    background-color: var(--color-5);
    color: var(--color-2);
    width: 100%;
    bottom: 0;
    font-size: 120%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0.5vmin;
}

#footerCenter {

}

#footerRight {
    display: flex;
}

.footerRightButton {
    margin-right: 1.5vmin;
}

.footerRightButton:hover {
    color: var(--color-1);
}