<div id="notif-content">
        <table *ngIf="notificationService.notifications.length > 0; else nothing">
            <caption>
                Notifications
            </caption>

            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>

            <tr *ngFor="let notif of notificationService.notifications">
                <td>{{ notif.userId }}</td>
                <td>{{ notif.userFullName }}</td>
                <td>{{ notif.action }}</td>
            </tr>
        </table>

    <ng-template #nothing>
        <div id="nothing">
            <h1>Notifications</h1>
            <p>You don't have any notifications</p>
        </div>
    </ng-template>
</div>
