#notif-content {
    padding: 10px;
    color: var(--color-4);
    display: flex;
    flex-direction: column;
}

table {
    font-size: 1.1em;
}

th {
    text-align: left;
}

caption {
    font-size: 2em;
}

#nothing {
    text-align: center;
}

@media (min-width: 1024px) {
    #notif-content {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }
}