<div id="notif-content">
    @if (notificationService.notifications().length > 0) {
        <button class="button-style-1" (click)="notificationClear()">Clear</button>
        <table>
            <caption>
                Notifications
            </caption>

            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Action</th>

            @for (notification of notificationService.notifications(); track $index) {
                <tr>
                    <td>{{ notification.userId }}</td>
                    <td>{{ notification.userFullName }}</td>
                    <td>{{ notification.action }}</td>
                </tr>
            }
        </table>
    } @else {
        <div id="nothing">
            <h1>Notifications</h1>
            <p>You don't have any notifications</p>
        </div>
    }
</div>
