#chat {
    background-color: var(--color-4);
    color: var(--color-1);
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 80%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 1.5vmin black;
}

#chat-area {
    flex: 1;
}

#chat-list {
    overflow-y: scroll;
    width: 25%;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
     background: var(--color-3);
}