#chat {
    padding: 10px;
}

#chatDesktop {
    display: none;
}

#chat-list {
    gap: 10px;
    display: flex;
    flex-direction: column;
}

#chat-area {
    display: flex;
}

@media (min-width: 1024px) {
    #chat {
        display: none;
    }

    #chatDesktop {
        padding: 0;
        background-color: var(--color-4);
        color: var(--color-1);
        display: flex;
        width: 60vw;
        aspect-ratio: 8/5;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    #chat-area {
        display: block;
        width: 75%;
    }

    #chat-list {
        padding: 10px;
        overflow-y: scroll;
        width: 25%;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        background: white;
    }

    ::-webkit-scrollbar-thumb {
        background: var(--color-3);
    }
}