#search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    gap: 30px;
}

#refresh-button {
    height: 10vmin;
    width: 12vmin;
}

#refresh-button img {
    padding-top: 15%;
    height: 100%;
    width: 100%;
}

#cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vmin;
    grid-column-gap: 6vmin;
}

#cards div {
    margin-right: 10px;
}

.filter-button {
    line-height: 2.2em;
}

#filter-area {
    gap: 20px;
    display: flex;
    text-align: center;
}

#filter-area div {
    display: flex;
    flex-direction: column;
}

.mat-slider {
    /* Vos styles personnalisés ici */
    height: 8px; /* Exemple : changer la hauteur du slider */
}

.mat-slider-thumb {
    /* Styles pour le pouce du slider */
    background-color: red; /* Exemple : changer la couleur du pouce */
}

.mat-slider-track-fill {
    /* Styles pour la piste remplie du slider */
    background-color: blue; /* Exemple : changer la couleur de la piste remplie */
}

::ng-deep .mat-slider-thumb-label {
    background-color: rgba(0, 0, 0, 0.7) !important; /* Couleur de fond du label */
    color: white !important; /* Couleur du texte */
    border-radius: 4px !important; /* Arrondir les coins */
    padding: 4px 8px !important; /* Espacement interne */
}

::ng-deep .mat-slider-thumb-label-text {
    font-size: 12px !important; /* Taille de la police */
}