#search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90vh;
    gap: 30px;
}

#refresh-button {
    height: 10vmin;
    width: 12vmin;
}

#refresh-button img {
    padding-top: 15%;
    height: 100%;
    width: 100%;
}

#cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vmin;
    grid-column-gap: 6vmin;
}

#cards div {
    margin-right: 10px;
}

.filter-button {
    line-height: 2.2em;
}

#filter-area {
    gap: 20px;
    display: flex;
    text-align: center;
}

#filter-area div {
    display: flex;
    flex-direction: column;
}
