<div id="search-content">
    <div id="refresh-button">
        <img src="/logoicon.png" (click)="cardService.refreshProfile()">
    </div>
    <div id="filter-area">
        <button class="filter-button button-style-2">Add new filter </button>
    </div>
    <div id="cards">
        <app-card *ngFor="let card of cardService.searchProfiles() | paginate: { itemsPerPage: 6, currentPage: p, totalItems: cardService.maxPages * 6 }"
                  [card]="card">
        </app-card>
    </div>
    <div id="pagination">
        <pagination-controls (pageChange)="onPageChange($event)"></pagination-controls>
    </div>
</div>