<div id="search-content">
    <img src="/logoicon.png" (click)="updateSearch(1)">
    <form id="filter-area" [formGroup]="formGroup">
        <div>
            <label>Age gap</label>
            <mat-slider min="15" max="80" step="1" color="accent">
                <input matSliderStartThumb formControlName="ageMin">
                <input matSliderEndThumb formControlName="ageMax">
            </mat-slider>
        </div>
        <div>
            <label>Location</label>
            <input class="input-style-1" placeholder="Type a city" formControlName="location">
            <app-location [cityFormControl]="this.formGroup.controls.location"></app-location>
        </div>
        <div>
            <label>Interest</label>
            <input class="input-style-1" placeholder="Type an interest" formControlName="interest">
        </div>
        <div id="fame-rate">
            <div [matMenuTriggerFor]="menu">Sort By</div>
            <mat-menu #menu="matMenu">
                <div mat-menu-item (click)="sortBy('fame_rate')">Fame</div>
                <div mat-menu-item (click)="sortBy('age')">Age</div>
                <div mat-menu-item (click)="sortBy('distance')">Distance</div>
                <div mat-menu-item (click)="sortBy('common_interests')">Interest</div>
            </mat-menu>
        </div>
    </form>
    <div id="cards">
        <app-card *ngFor="let profile of searchService.searchProfiles() | paginate: { itemsPerPage: 6, currentPage: p, totalItems: searchService.maxPages * 6 }"
                  [profile]="profile">
        </app-card>
    </div>
    <div id="pagination">
        <pagination-controls (pageChange)="updateSearch($event)"></pagination-controls>
    </div>
</div>