#search-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
}

#refresh-button {
    height: 10vmin;
    width: 12vmin;
}

#refresh-button img {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vmin;
    grid-column-gap: 6vmin;
}

#cards div {
    margin-right: 10px;
}

.filter-button {
    line-height: 2.2em;
}
