<div id="search-content">
    <div id="refresh-button">
        <img src="/logoicon.png" (click)="cardService.refreshProfile()">
    </div>
    <div id="filter-area">
        <button class="filter-button button-style-2">Add new filter </button>
    </div>
    <div id="cards">
        <app-card *ngFor="let card of cardService.getSearchProfiles() | paginate: { itemsPerPage: 2, currentPage: p }"
                  [card]="card">
        </app-card>
    </div>
    <div id="pagination">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>