<div id="chatAreaMain">
    <div id="chatHeader">
        <mat-icon id="returnButton" svgIcon="arrow" (click)="chatService.updateDisplayMode('list')"></mat-icon>
        <div id="text-area">
            <div>
                <h3>{{this.chatModel().firstname}} {{this.chatModel().age}}</h3>
            </div>
        </div>
        <mat-icon svgIcon="folder" (click)="chatService.updateDisplayMode('list')"></mat-icon>
    </div>

    <div id="chatBox">
        <app-chatbubble *ngFor="let bubble of chatService.currentChatBubbles()" [chatBubble]="bubble" [chatModel]="chatModel()" class="right-bubble"></app-chatbubble>
    </div>

    <div id="chatFooter">
        <textarea placeholder="Enter your message here" rows="1" [formControl]=this.messageInput (keydown.enter)="sendMessage($event)"></textarea>
        <div>
            <label for="picture">
                <mat-icon svgIcon="folder"></mat-icon>
            </label>
            <input style="display: none;" id="picture" type="file" accept="image/png, image/jpeg">
            <mat-icon svgIcon="send" (click)="sendMessage($event)"></mat-icon>
        </div>
    </div>

</div>