<div id="chat-header">
    <div id="left-content">
        <img src="https://i.pinimg.com/736x/21/f8/07/21f8077a1288fc475acf6d85dba83ffe.jpg">
        <div id="text-area">
            <div>
                <h3>{{this.chatModel().firstname}} {{this.chatModel().age}}, {{this.chatModel().city}}</h3>
            </div>
            <div id="online-area">
                <div id="status-circle"></div>
                <div>Online</div>
            </div>
        </div>
    </div>
    <div id="right-content">
        <img class="giftIcon" style="width: 4vmin; margin-right: 3vmin">
        <a [routerLink]="['/profile/', this.chatModel().userId]" class="icon chatarea-img" style="-webkit-mask: url('/icons/navProfile.png') center/contain"></a>
    </div>
</div>

<div id="chat-box">
    <app-chatbubble *ngFor="let bubble of chatService.currentChatBubbles()" [chatBubble]="bubble"></app-chatbubble>
</div>

<div id="chat-footer">
    <textarea placeholder="Enter your message here" rows="1" [formControl]=this.messageInput (keydown.enter)="sendMessage($event)"></textarea>
    <div>
        <a routerLink="/profile/5" class="icon chatarea-img" style="-webkit-mask: url('/icons/fileInput.png') center/contain"></a>
        <div class="icon chatarea-img" style="-webkit-mask: url('/icons/sendArrow.png') center/contain" (click)="sendMessage($event)"></div>
    </div>
</div>
