<div id="chat-header">

</div>

<div id="chat-box" >

</div>

<div id="chat-footer">
    <textarea placeholder="Enter your message here" rows="1" [formControl]=this.messageInput (keydown.enter)="sendMessage($event)"></textarea>
    <div>
        <a routerLink="/profile/5" class="img" style="-webkit-mask: url('/icons/fileInput.png') center/contain"></a>
        <div class="img" style="-webkit-mask: url('/icons/sendArrow.png') center/contain" (click)="sendMessage($event)"></div>
    </div>
</div>
