#chatAreaMain {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 85vh;
}

#chatHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#chatBox {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    overflow-y: scroll;
}

#chatFooter {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

#returnButton {
    color: var(--color-4);
    rotate: 180deg;
}

textarea {
    background-color: var(--color-4);
    border: none;
    color: var(--color-1);
    flex: 1;
    resize: none;
    font-size: 1.2em;
    padding: 10px;
}

textarea:focus {
    outline: none;
    border: none;
}

textarea::placeholder {
    color: var(--color-1);
    opacity: 0.7;
}

@media (min-width: 1024px) {
    #chatAreaMain {
        height: 100%;
        gap: 0;
    }

    #chatHeader {
        height: 10%;
        justify-content: center;
    }

    #returnButton {
        display: none;
    }

    #chatBox {
        height: 80%;
        border-top: 2px solid white;
        border-bottom: 2px solid white;
        box-sizing: border-box;
        display: flex;
        flex-direction: column-reverse;
        overflow: auto;
        gap: 2%;
        scrollbar-color: var(--color-4) var(--color-1);
        padding: 1%;
    }

    #chatFooter {
        display: flex;
        justify-content: space-between;
        height: 10%;
        align-items: center;
    }

    #text-area {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-left: 3vmin;
    }

    #online-area {
        display: flex;
        gap: 2%;
        color: var(--color-green)
    }

    #status-circle {
        background-color: var(--color-green);
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    .chatarea-img {
        margin-right: 1.4vw;
        width: 2vw;
    }

    textarea {
        background-color: transparent;
        border: none;
        color: var(--color-1);
        flex: 1;
        resize: none;
        margin: 2%;
        font-size: 190%;
    }

    textarea:focus {
        outline: none;
        border: none;
    }

    textarea::placeholder {
        color: var(--color-1);
        opacity: 0.7;
    }
}