<div class="profileImageMain">
    <img class="profilePic" [src]=profile().profilePicturePath().at(currentIndex()) />
    @if (profile().profilePicturePath().length > 1) {
        <div class="arrows">
            <mat-icon (click)="arrowLeftClick()" style="rotate: 180deg" svgIcon="arrow"/>
            <mat-icon (click)="arrowRightClick()" svgIcon="arrow"/>
        </div>

    }
    <div class="score">
        <div style="font-size: 90%;">{{profile().score}}%</div>
        <mat-icon svgIcon="target"/>
    </div>
    <div class="gradient-overlay"></div>
    <div class="bottomArea" (click)="$event.stopPropagation()">
        <div class="nameAge">
            <span class="name">{{ profile().firstname }}</span>
            <span>{{ profile().age }}</span>
            @if (profile().premium) {
                <div class="button premiumButton">
                    <mat-icon svgIcon="premium"/>
                </div>
            }
        </div>
        <div class="profilePicIcons">
            <button [matMenuTriggerFor]="menu" class="button reportButton">
                <mat-icon svgIcon="report"></mat-icon>
            </button>
            @if (profile().matching() === "match") {
                <button (click)="sendMessageTrigger()" class="button messageButton">
                    <mat-icon svgIcon="chat"></mat-icon>
                </button>
            }
            @if (profile().matching() === "like" || profile().matching() === "match") {
                <button (click)="profileActionService.likeProfile(profile())" class="button heartButton">
                    <mat-icon svgIcon="heart-unlike"></mat-icon>
                </button>
            } @else {
                <button (click)="profileActionService.likeProfile(profile())" class="button heartButton">
                    <mat-icon svgIcon="heart"></mat-icon>
                </button>
            }
            <button (click)="profileActionService.nextProfile(profile())" class="button xButton">
                <mat-icon svgIcon="x"></mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                @for (reason of profileActionService.reportReason; track reason) {
                    <div mat-menu-item (click)="profileActionService.blockUser(profile(), 'report', reason)">Report for {{reason}}</div>
                }
                <div mat-menu-item (click)="profileActionService.blockUser(profile(), 'block', 'block')">Block user</div>
            </mat-menu>
        </div>
    </div>
</div>