<app-navbar></app-navbar>
<img id="mainRefreshButton" src="/logoicon.png" (click)="cardService.refreshProfile()">
<div id="cards">
    <app-card [card]="cardService.getProfile(0)"/>
    <app-card [card]="cardService.getProfile(1)"/>
    <app-card [card]="cardService.getProfile(2)"/>
    <app-card [card]="cardService.getProfile(3)"/>
    <app-card [card]="cardService.getProfile(0)"/>
    <app-card [card]="cardService.getProfile(0)"/>
    <app-card [card]="cardService.getProfile(0)"/>
    <app-card [card]="cardService.getProfile(0)"/>
</div>
<app-footer></app-footer>