#home-content {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

#refresh-button {
    height: 10vmin;
    width: 12vmin;
    align-self: center;
}

#refresh-button img {
    padding-top: 15%;
    height: 100%;
    width: 100%;
}

#cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vmin;
    grid-column-gap: 6vmin;
}

@media (max-width: 1475px) {
    #cards {
        grid-template-columns: repeat(1, 1fr);
    }
}

#cards div {
    margin-right: 10px;
}