#profileMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 5px;
}

.multipleArea {
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.value {
    border-radius: 8px;
    background-color: var(--color-4);
    color: var(--color-1);
    padding: 5px;
}

#description {
    padding: 10px;
    background-color: var(--color-4);
    color: var(--color-1);
}

@media (min-width: 1024px) {
    .profilePicturesContainer {
        display: flex;
        justify-content: center;
        width: 500px;
    }

    .multipleArea {
        font-size: 1.5em;
    }
}