<div id="profile">
    <h1 id="header">{{this.profile().firstname}} {{this.profile().lastname}}'s profile</h1>
    <div id="profile-infos">
        <div id="infos-left">
            <div id="profile-picture" [style.--border-color]="this.profile().status ? 'var(--color-green)': 'var(--color-error)'">
                <app-slider [images]="this.profile().profilePicturePath"></app-slider>
                <div class="caption">
                    <div class="icon" style="-webkit-mask: url('/icons/alarme.png') center/contain" (click)="reportTest()"></div>
                    <div class="icon" style="-webkit-mask: url('/icons/message.png') center/contain" (click)="sendMessageTrigger()"></div>
                    <img class="giftIcon">
                    <img class="heartIcon">
                </div>
            </div>
            <div id="city">
                {{this.profile().age}} years old, from {{this.profile().city}}.
            </div>
        </div>
        <div id="infos-right">
            <h3>Shape</h3>
            <div class="content">
                <div class="c">{{this.profile().shape.at(2)}}</div>
                <div class="c">{{this.profile().shape.at(0)}}CM</div>
                <div class="c">{{this.profile().shape.at(1)}}KG</div>
            </div>
            <h3>Health</h3>
            <div class="content">
                <div class="c">Vegan</div>
                <div class="c">Don't smoke</div>
                <div class="c">Drink alcohol occasionally</div>
            </div>
            <h3>Looking for</h3>
            <div class="content">
                <div class="c">Meet friends</div>
                <div class="c">Long term relation</div>
                <div class="c">Occasional contact</div>
            </div>
            <h3>Interests</h3>
            <div class="content">
                <div *ngFor="let interest of this.profile().interests.at(0)?.interests" class="c">{{interest}}</div>
            </div>
        </div>
    </div>
    <div id="description">
        <h2>More about me</h2>
        <p>{{this.profile().description}}</p>
    </div>
</div>
