<div id="chatcard-content">
    <div id="profile-picture">
        <img src="https://image.civitai.com/xG1nkqKTMzGDvpLrqFT7WA/65af0f35-512e-4fc9-9944-b3dc304b9a36/width=512,original=false/00386-3578551627.jpeg" [style.--border-color]="this.chatModel().status ? 'var(--color-green)': 'var(--color-error)'">
    </div>
    <div id="text-area">
        <div id="top">
            <h3>{{this.chatModel().firstname}} {{this.chatModel().age}}, {{this.chatModel().city}}</h3>
            <h5>{{this.chatModel().lastMsgTime}}</h5>
        </div>
        <p>{{this.chatModel().lastMessage}}</p>
    </div>
</div>