<div class="chatCardMain" (click)="chatService.updateCurrentChat(chatModel())">
    <img class="profilePicture" [src]=this.chatModel().picturePath [style.--border-color]="this.chatModel().status ? 'var(--color-green)': 'var(--color-error)'">
    <div style="overflow: hidden;" class="textArea">
        <div class="top">
            <h3>{{this.chatModel().firstname}} {{this.chatModel().age}}, {{this.chatModel().city}}</h3>
            <h5>{{this.chatModel().lastMsgTime}}</h5>
        </div>
        <p class="lastMessage">{{this.chatModel().lastMessage}}</p>
    </div>
</div>