<div id="account-content">
    <h1>Edit your profile</h1>
    <form [formGroup]="this.formGroup" (keydown)="keyPressed()">

        <div id="pictures-description">
            <div id="profile-pictures">
                <app-slider [images]="profile().profilePicturePath" (currentIndexEvent)="sliderTrigger($event)"></app-slider>
                <div class="caption">
                    <div *ngIf="profile().picturesNumber > 0" class="icon" style="-webkit-mask: url('/icons/x.png') center/contain" (click)="deletePicture()"></div>
                    <label for="picture" class="icon" style="-webkit-mask: url('/icons/upload.png') center/contain"></label>
                    <input id="picture" type="file" formControlName="picture" accept="image/png, image/jpeg">
                </div>
            </div>

            <div id="description-container" class="input-area">
                <mat-label>Description</mat-label>
                <mat-form-field>
                    <textarea id="description"
                              matInput
                              cdkTextareaAutosize
                              cdkAutosizeMinRows="8"
                              cdkAutosizeMaxRows="6"
                              formControlName="description">
                    </textarea>
                </mat-form-field>
            </div>
        </div>

        <div id="inputs">
            <div class="input-area">
                <label>Email</label>
                <input type="email" class="input-style-1" formControlName="email">
            </div>

            <div class="input-area">
                <label>Password</label>
                <input type="password" class="input-style-1" formControlName="password">
            </div>

            <div class="input-area">
                <label>Age</label>
                <input type="number" class="input-style-1" formControlName="age">
            </div>

            <div class="input-area">
                <label>Firstname</label>
                <input class="input-style-1" formControlName="firstname">
            </div>

            <div class="input-area">
                <label>Lastname</label>
                <input class="input-style-1" formControlName="lastname">
            </div>

            <div class="input-area">
                <label>City</label>
                <input class="input-style-1" formControlName="city">
                <app-location [cityFormControl]="this.formGroup.controls['city']"></app-location>
            </div>

            <div class="input-area">
                <label>Interests</label>
                <input class="input-style-1" formControlName="interests">
            </div>

            <div class="input-area">
                <label>Diet</label>
                <input class="input-style-1" formControlName="diet">
            </div>

            <div class="input-area">
                <label>Alcohol consumption</label>
                <input class="input-style-1" formControlName="alcohol">
            </div>

            <div class="input-area input-radio">
                <label class="fieldset-label">Gender</label>
                <fieldset>
                     <div>
                        <input id="Male" type="radio" value="M" formControlName="gender" />
                        <label for="Male">Male</label>
                    </div>
                    <div>
                        <input id="Female" type="radio" value="F" formControlName="gender" />
                        <label for="Female">Female</label>
                    </div>
                </fieldset>
            </div>

            <div class="input-area input-radio">
                <label class="fieldset-label">Smoking</label>
                <fieldset>
                     <div>
                        <input id="yes" type="radio" [value]=true formControlName="smoking" />
                        <label for="yes">Yes</label>
                    </div>
                    <div>
                        <input id="no" type="radio" [value]=false formControlName="smoking" />
                        <label for="no">No</label>
                    </div>
                </fieldset>
            </div>

            <div class="input-area input-radio">
                <label>Hetero</label>
                <fieldset>
                    <div>
                        <input id="Hetero" type="radio" [value]=true formControlName="hetero" />
                        <label for="Hetero">Hetero</label>
                    </div>
                    <div>
                        <input id="Other" type="radio" [value]=false formControlName="hetero" />
                        <label for="Other">Other</label>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>

    <p class="error" *ngIf="this.placeHolderMessage.length > 0">{{this.placeHolderMessage}}</p>
    <div id="buttons-area">
        <button class="button-style-1" (click)="this.applyTrigger()">Submit</button>
        <button class="button-style-1" (click)="authService.logout()">logout</button>
    </div>
</div>