a {
    color: inherit;
    text-decoration: inherit
}

* {
    padding: 0;
    margin: 0;
    font-family: Inter;
}

body {
	background: var(--color-background-1);
    animation: gradient 15s ease infinite;
	background-size: 400% 400%;

}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.text-hover-style-1:hover {
    color: var(--color-2);
}

.button-style-1 {
    font-size: 1.5em;
    line-height: 3em;
    background-color: var(--color-2);
    border-radius: 10px;
    border: solid var(--color-4);
}

.button-style-1:hover {
    background-color: var(--color-1);
}

.input-style-1 {
    background-color: var(--color-1);
    line-height: 2.8em;
    border-radius: 10px;
    border: solid var(--color-4);
    text-indent: 5px;
    font-size: 0.9em;
}

.form-style-1 {
    padding: 1%;
    background-color: var(--color-4);
    color: var(--color-1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 25px;
    animation: shadow 10s infinite;
    box-shadow: 0 0 0.5vmin black;
}

:root {
    --color-background-1: #ECE0EF;
    --color-1: #FBEAFF;
    --color-2: #F3C5FF;
    --color-3: #845EC2;
    --color-4: #563B83;
    --color-rgb-5: 13, 23, 45;
}
