.area-single {
    display: flex;
    flex-direction: column;
}

.area-multiple {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.area-multiple div {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
}

a, h1, h2 {
    text-align: center;
}

#age {
    width: 30%;
}

#age-gender {
    justify-content: space-around;
}

#age-gender div {
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.test {
    display: flex;
    flex-direction: row;
    align-items: center; /* Ensures both input and label are vertically aligned */
    gap: 5px;
    background-color: red;
}