.label-input-flex {
    display: flex;
    flex-direction: column;
}

fieldset {
    display: flex;
    gap: 3px;
    border-width: 0;
}

a, h1, h2 {
    text-align: center;
}

#checkbox-area {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#checkbox-area fieldset {
    display: flex;
    flex-direction: column;
}

.test {
    display: flex;
    gap: 3px;
}

@media (min-width: 1080px) {
    #main-form-1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }

    #main-form-2 {
        text-align: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .title-form-2 {
        grid-column: span 3;
    }
}