<form class="form-style-1" [formGroup]="formControlGroup" (submit)="submit($event)">
	<h1>Login</h1>
	<div id="login-area">
		<input class="input-style-1" type="email" placeholder="Enter your email adress" formControlName='email'>
		<input class="input-style-1" type="password" placeholder="Enter your password" formControlName="password">
	</div>
	<div id="checkbox-forgot-area">
		<div id="checkbox-area">
			<input type="checkbox" placeholder="Enter your password" formControlName="checkbox">
			<label>Remember</label>
		</div>
		<a class="text-hover-style-1" routerLink="/">Forgot password</a>
	</div>
	<button class="button-style-1"> Login </button>
	<a class="text-hover-style-1" routerLink="/auth/register">Create account</a>
</form>
