@keyframes shadow {
    50% {box-shadow: 0 0 2.5vmin black;}
}

#checkbox-forgot-area {
    display: flex;
    justify-content: space-between;
}

#checkbox-area {
    display: flex;
}

#login-area {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input[type="checkbox"] {
    accent-color: var(--color-1);
}

a, h1 {
    text-align: center;
}