<form [formGroup]="formControlGroup" (submit)="submit($event)">
	@if (formNumber() === 0) {
		<h1>Login</h1>
		<div id="login-area">
			<input class="input-style-1" type="text" placeholder="Enter your username" formControlName='username'>
			<input class="input-style-1" type="password" placeholder="Enter your password" formControlName="password">
		</div>
		<div id="checkbox-forgot-area">
			<div id="checkbox-area">
				<input type="checkbox" placeholder="Enter your password" formControlName="checkbox">
				<label>Remember</label>
			</div>
			<a (click)="formNumber.set(1)">Forgot password</a>
		</div>
        <app-button [validator]="formControlGroup.invalid" buttonName="Login"/>
		<a routerLink="/auth/register">Create account</a>
	} @else {
		<h1>Forgot password</h1>

		<input class="input-style-1" type="email" placeholder="Enter your email" [formControl]=resetmail>
        <app-button [validator]="resetmail.invalid" buttonName="Send reset mail" (click)="submitForgot($event)"/>
		<a (click)="formNumber.set(0)">Return to login</a>
	}
</form>
