nav {
    width: 100%;
    background-color: var(--color-5);
    margin: 0;
    padding: 5px;
    color: var(--color-2);
    display: flex;
    font-size: 30px;
}

#navbarElements {
    list-style-type: none;
    display: flex;
}

#navbarElements li {
    margin-left: 25px;
}

#middleLogo {
    background-color: red;
    align-self: center;
}