#page {
    color: var(--color-4);
    padding: 5px;
}

#page-title {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
}

#page-content {
    font-size: 1.2em;
    white-space: pre-line;
}

@media (min-width: 1024px) {
    #page {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    #page-title {
        font-size: 3.5em;
    }

    #page-content {
        font-size: 1.4em;
    }
}