#page {
    background-color: var(--color-5);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    height: 80%;
    transform: translate(-50%, -50%);
    overflow:auto;
    scrollbar-color: var(--color-5) var(--color-1);
}

#page-title {
    color: var(--color-1);
    font-weight: bold;
    font-size: 350%;
    text-align: center;
    margin-top: 1%;
}

#page-content {
    color: var(--color-1);
    font-size: 150%;
    white-space: pre-line;
}

#content-container {
    margin: 2%
}
