#page {
    color: var(--color-4);
    max-width: 80%;
    margin: auto;
}

#page-title {
    font-weight: bold;
    font-size: 350%;
    text-align: center;
    margin-top: 1%;
}

#page-content {
    font-size: 150%;
    white-space: pre-line;
}

#content-container {
    margin: 2%
}
