<footer>
    <div>
        <a class="footerHover" href="https://github.com/AliHaine/42_Matcha" target="_blank">
            Project on GitHub
        </a>
    </div>
    <div id="footerCenter">
        © 2025 Matcha. All rights reserved.
    </div>
    <div id="footerRight">
        <div class="footerRightButton footerHover">
            <a routerLink="/page/conditions-use">General conditions of use</a>
        </div>
        <div class="footerRightButton footerHover">
            <a routerLink="/page/rules">Rules</a>
        </div>
    </div>
</footer>
