.right-bubble {
    margin-left: auto;
    flex-direction: row-reverse;
}

.chatbubble-content {
    display: flex;
    gap: 5px;
    color: var(--color-1);
}

.profilePicture {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.contentPicture {
    border-radius: 0;
    max-width: 100%;
}

.message {
    background-color: var(--color-4);
    border-radius: 20px;
    height: 100%;
    padding: 10px;
    word-break: break-word;
}

.time {
    font-size: 0.8em;
    color: var(--color-4);
}

@media (min-width: 1024px) {
    .chatbubble-content {
        max-width: 48%;
        gap: 15px;
    }
}