.right-bubble {
    margin-left: auto;
    flex-direction: row-reverse; /* ✅ Reverses the order of elements */
}


.chatbubble-content {
    display: flex;
    max-width: 48%;
    gap: 2%;
    color: var(--color-1);
}

.chatbubble-content img {
    width: 10%;
    height: 10%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.message {
    background-color: var(--color-3);
    border-radius: 20px;
    height: 100%;
    padding: 2%;
    word-break: break-word;
}