.chatbubble-content {
    background-color: red;
    display: flex;
    max-width: 48%;
    gap: 2%;
    box-sizing: content-box;
    margin-left: 2%;
}

.chatbubble-content img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.message-area {
    background-color: blue;
}