<div id="main">
    <div id="pictureAndIcons">
        <img class="profilePic" src="/fille1.jpeg" />
        <div class="testt">
            <img class="overlayIcon" src="/icons/gift.png">
            <img class="overlayIcon" src="/icons/heart.png">
            <img class="overlayIcon" src="/icons/profile.png">
        </div>
    </div>

    <div id="profile">
        <div id="nameAndAge">
            leiala 47ans, Metz
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet. Et facere fugiat ad vitae adipisci eos voluptatem illum et facere ducimus! Non mollitia quis ut dignissimos dicta est velit nemo illum et facere ducimus! Non mollitia quis ut dignissimos dicta est velit nemo.. VOIR PLUS
        </div>
        <div id="details">
            <div id="area1">
                <div class="detailTitle">
                    <img src="/icons/interest.png">
                    <div>
                        Intérêt
                    </div>
                </div>
                <div>LOrem ipsd</div>
                <div>Example5</div>
                <div>Example94</div>
            </div>

            <div id="area2">
                <div class="detailTitle">
                    <img src="/icons/pharmacie.png">
                    <div>
                        Santé
                    </div>
                </div>
                <div>line2</div>
                <div>line3</div>
                <div>line4</div>
            </div>

            <div id="area3">
                <div class="detailTitle">
                    <img src="/icons/body.png">
                    <div>
                        Corp
                    </div>
                </div>
                <div>line2</div>
                <div>line3</div>
                <div>line4</div>
            </div>

            <div id="area4">
                <div class="detailTitle">
                    <img src="/icons/search.png">
                    <div>
                        Recherche
                    </div>
                </div>
                <div>Rencontre amicale</div>
                <div>Engagement court terme</div>
                <div>Contact Occasionnelle </div>
            </div>
        </div>
    </div>
</div>