<p>card works!</p>
<div id="main">
    <div id="pictureAndIcons">
            <img src="/fille1.jpeg" />
    </div>

    <div id="profile">
        <div id="nameAndAge">
            leiala 47ans, MEtz
        </div>
        <div id="description">
            Lorem ipsum dolor sit amet. Et facere fugiat ad vitae adipisci eos voluptatem illum et facere ducimus! Non mollitia quis ut dignissimos dicta est velit nemo illum et facere ducimus! Non mollitia quis ut dignissimos dicta est velit nemo.. VOIR PLUS
        </div>
        <div id="details">
            <div id="area1">
                <div>line1</div>
                <div>line2</div>
                <div>line3</div>
                <div>line4</div>
            </div>

            <div id="area2">
                <div>line1</div>
                <div>line2</div>
                <div>line3</div>
                <div>line4</div>
            </div>

            <div id="area3">
                <div>line1</div>
                <div>line2</div>
                <div>line3</div>
                <div>line4</div>
            </div>

            <div id="area4">
                <div>line1</div>
                <div>line2</div>
                <div>line3</div>
                <div>line4</div>
            </div>

        </div>
    </div>
</div>